.cont{
    min-height: 750px;
    /* border: 2px solid black; */
    box-sizing: border-box;

    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.contBtn button{
    margin-top: 20px;
    padding: 20px;
    background: none;
    border-radius: 10px;

}

.contBtn a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

